:root{
    font-size: 16px;
    
}

body {
background-color: #d7d1d1ab;

}

/* Contenedor de header, sections y footer,
 Ordenado mediante Flex */
.Contenedor{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0px;
    font-family:"Dosis",sans-serif;
    font-size: 1rem;
    color:#35353e;
    z-index: -4;
    width: 100%;
}

.Contenedor h2{
    text-align: center;
}

/* Contenedor de Logo , Titulo y Menú de navegación */
header{
    align-self: flex-start;
    align-self: stretch;
    top: 0;
overflow-y: auto;
    background-color: white;
    height: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin-bottom:5px ;
    margin: 0% 7%;
    position: sticky;
    z-index: 8;
    border-bottom:3px solid  #d7d1d1ab;
    
    
    
}

.LogoInicio{
    height: 75px;
    align-self: flex-start;
   
}

h1{
    font-size: 2.3rem;
    font-family: "Vibur";
    align-self: center;
    margin: 0%;
    padding-right: 30px;
}

.Menu{
    
    font-size: 1.3rem;
   align-self: flex-end;

}

 .Menu a {
    color: rgb(48, 47, 47);
    text-decoration: none;
    padding: 5px;
}

.Menu a:first-child{
    color: #ffd112;
    font-weight: 600;
}

.Menu a:hover{
    color: black;
    font-weight: bold;
}


/* Contenedor de sección*/
.SectionImpar {
    background-color: #f2f2f2;
    height: 30%;
    display: flex;
    margin: 0.5% 7%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 3%;

}



.Inicio{
    display: flex;
    flex-direction: row;
    height: 20%;
}
.CuadroInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: justify;
    font-size: 1.5rem;
}

.TituloCuadro {
    color: #ba0d5c;
    width: 100%;
    font-family:"Montserrat alternates";
    font-size:2rem;
    justify-self: flex-start;
}

.BotonInicio {
	background-color:transparent;
	border-radius:42px;
	border:3px solid #ffe252;
	display:inline-block;
	cursor:pointer;
	color:#35353e;
	font-family:"Dosis";
	font-size:1.5rem;
	padding:11px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e3e3e3;
}
.BotonInicio:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:42px;
	border:3px solid #ffe252;
    color: rgb(92, 87, 87);
}
.BotonInicio:active {
	position:relative;
	top:1px;
}


.ImagenesInicio{
    display: flex;
    order:2;
    flex-wrap: wrap;

}



.FotoInicio{
    height: 300px;
    position: relative;
    top: 8%;
    left: 15%;
}


.CuadroRosa{
width: 200px;
height: 400px;
background-color: #dd1265;
}



.SectionPar {
    background-color: #ffffff;
    height: 30%;
    display: flex;
    margin: 0.5% 7%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 3%;

}

.Beneficios{
    height: 10%;
    
}
.Iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.Iconos img{
    width: 30%;
}

.Icono{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 3% 2% 2% 2%;
}
.Icono h2{
    font-size: 1.2rem;

    
}

.Galeria{
    display: flex;
    justify-content:space-around;
    width: 100%;
   
}

.FotoGaleria {
    width: 300px;
    padding: 10px 0px;
    opacity: 0.6;
    position: relative;
}

.agrandable{ transition: all .2s ease-in-out; }
.agrandable:hover { transform: scale(1.1); opacity: 1; z-index: 4;}

.ContenedorFotoCaratula {
    position: relative;
    text-align: center;
  }

.textoCentrado {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: #faf8f8;
    font-size: 1.3rem;
    font-weight: 700;
    opacity: 1;
    text-align: center;
    z-index:1;
    background-color: rgba(61, 61, 61, 0.6);
  }


footer{
    height: 3%;
    background-color: #f5e282;
    margin: 0.5% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

footer img{
    height: 20px;
    padding: 0px 10px;
}

.textoFooter{
    padding:10px 0px 0px 0px;
}
footer p{
    padding: 10px 15px;
    
}

.TituloSeccion{
    font-family: "Montserrat alternates";
    width: 100%;
    margin: 10px 0px;
    padding: 5px 0px;
    color: white;
    background-color: rgba(201, 192, 155, 0.6)
}



.ContenedorProducto{
margin: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px 20px;
font-weight: bold;
color: #868282;
text-align: center;
}

.ContenedorProducto img{
    width: 200px;
    margin-bottom: 5px;
}

.BotonProducto {
	
	background:linear-gradient(to bottom, #91455a 5%, #cc3f86 100%);
	background-color:#d63260;
    color: white;
    width: 200px;
    font-family:"Dosis";
	font-size:18px;
	padding:6px 24px;
    margin: 2px;
	text-decoration:none;
    width: 200px;
    border: 0px;
}
.BotonProducto:hover {
	background:linear-gradient(to bottom,#d93486  5%, #d63260 100%);
	background-color:#d63260;
    color: white;
    width: 200px;
}


.ImagenesAcerca{
    margin: 90px 30px;
}

.CirculoRosa{
    background-color: #ffed94;
    border-radius: 100%;
    position: absolute;
 ;z-index: 2;
    width: 200px;
    height: 200px;

}

.CirculoRosa2{
    background-color: #dd1265;;
    border-radius: 100%;
    position: absolute;

    width: 340px;
    height: 340px;
    z-index: 1;

}

.FotoAcerca{
  position: relative;
    width: 300px;
    border-radius: 100%;
    z-index: 3;
}

.ContenedorMapaIz{
    display: flex;
    text-align: center;
    
}

.ContenedorMapaDer{
    display: flex;
    text-align: center;
    
    align-items: end;
}

.ContenedorMapaIz p{
    order: 2;
    align-self: flex-start;
    align-items: flex-start;
}

.ContenedorMapaDer p{
    align-self:end
}
.Mapa {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 20px;
}

.FormularioContacto{
    padding: 2%;
}

.iconoAgente{
    width: 80px;
}

.centrada{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.espaciada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}


@media (max-width: 625px ){
 
.LogoInicio{
    padding-right: 20px;
}

.SectionImpar{
    padding: 2% 1%;
}

.SectionPar{
    padding: 2% 1%;
}

h1{
    padding-right: 20px;
    
}

.Inicio{
    flex-direction: row;
}

.CuadroRosa{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 0;
  
}


.CuadroInfo{
    width: 60%;
    order:3;
    padding:5%;
}

.TituloCuadro{
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
    order:1
}

.ImagenesInicio{
    width: 100%;
    padding: 5%;
    order:2;
    flex-direction: row;

}

.FotoInicio{
    position: relative;
padding: 0px 5% 5% 5%;
width: 200px;
height: 200px;
z-index: 1;


}

.Galeria{
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;

}

.ContenedorFotoCaratula{
    width:200px;
    padding:5%;

    
}

.agrandable{
    opacity: 1;
    width: 200px;
    height: 200px;
}

.FotoGaleria{
    width: 200px;
    height: 200px;
   
}

.Menu{
    display: flex;
    flex-direction: column;
}

.MenuAnchor{
    width: 100%;
}

.ContenedorProducto {
    margin: 10% 0%;

}

}